* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
}

ul { 
  list-style: none; 
}

/* CONTAINER */

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

/* HEADER */

header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

header .container {
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

header .logo {
  height: 80px;
}

.logo:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav li {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

/* JUMBOTRON */

.jumbotron {
  height: 300px;
  background-image: url("jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HERO */
.hero {
  background: #1c1c1c;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}

.current-series {
  position: absolute;
  bottom: 97%;
  left: 14%;
}

.current-series button {
  background-color: #0282f9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.hero p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;    
  margin-left: 15%;    
}

 .comics-container {
      display: flex;
      flex-wrap: wrap;  
      margin: 0 auto;
      width: 70%;
      gap: 20px;
      justify-items: center;
      margin-bottom: 30px;
    }

    .comic {
      text-align: center;
      flex: 0 0 calc((100% - 100px) / 6);
    }

    .comic img {
      width: 100%;
      display: block;
      margin: 0 auto 10px;
    }

    .comic p {
      font-size: 10px;
      margin: 0;
    }

    .load-more {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
    }

    .load-more:hover {
      background-color: #0056b3;
    }

    .contenitore-bottone {
      text-align: center;
    }

    .contenitore-bottone button {
      padding: 7px 50px;
      background-color: #0282f9;
      color: white;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }

/* BLUE BAR */

.blue-bar {
  background: #0282f9;
  padding: 20px 0;
  height: 120px;
  display: flex;              
  align-items: center;
}

.blue-bar .container {
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.blue-bar .item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 10px;
}

.blue-bar .item img {
  height: 40px;
}

/* FOOTER */

.top-footer {
  background-image: url('footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
}

.top-footer .container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.top-footer h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.top-footer ul {
    margin: 15px 15px 15px 0;
}

.top-footer li {
  font-size: 12px;
  margin: 5px 0;
  color: #aaa;
  cursor: pointer;
}

.top-footer li:hover {
  color: white;
}

.column {
  margin-right: 10px;
}


/* BOTTOM FOOTER */

.bottom-footer {
  background: #2a2a2a;
  padding: 20px 0;
  color: white;
}

.bottom-footer .container {
  justify-content: space-between;
  align-items: center;
}

.bottom-footer button {
  background: transparent;
  border: 2px solid #0282f9;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.bottom-footer .social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-footer .social span {
  color: #0282f9;
  font-weight: bold;
}

.bottom-footer .social img {
  height: 25px;
  cursor: pointer;
}